body {
    background-color: rgb(26, 26, 26);
}

h1 {
    font-family: sans-serif;
    color: rgb(0, 183, 255);
}
h2 {
    font-family: sans-serif;
    color: rgb(0, 183, 255);
}
button {
    font-family: sans-serif;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    font-size: small;
}
button:hover {
    background-color: rgb(214, 213, 213);
}
button:active {
    background-color: rgb(36, 36, 189);
}

.joao {
    color: rgb(0, 245, 253);
}

.space {
    color: rgb(253, 253, 255);
}

.texto {
    text-align: center;
}

.explica {
    text-align: center;
}

.i {
    font-family: sans-serif;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    font-size: large;
}
.hiper {
    color: aqua;
    text-decoration: underline;
}